<br/>
<section id="footer">
  <div class="container-footer">
    <div class="panel-footer">
      <center>
        <p>&copy; {{ "now" | date: "%Y" }} {{ site.title | escape }}</p>
        <p>
          <a href="mailto:anveshnallamadha@gmail.com">E-Mail</a> |
          <a href="https://twitter.com/samgamgee666" target="_blank">X (Twitter)</a>
        </p>
      </center>
    </div>
  </div>
</section>

<script src="{{ "/assets/javascript/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>
